backend gluster_nodes
    balance roundrobin
    option tcp-check
    server gluster-node1 gluster-node1:2049 check
    server gluster-node2 gluster-node2:2049 check
    server gluster-node2 gluster-node2:2049 check